<link rel="stylesheet" href="../css/style-estatisticas.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,-25" />
<link rel="shortcut icon" href="../img/favicon-theaters.svg" type="image/x-icon">

<body id="estatisticas">
    <nav class="navbar">
        <h1>CineMaracufy</h1>
        <a href="#" class="botao-menu">
            <span class="barra"></span>
            <span class="barra"></span>
            <span class="barra"></span>
          </a>
          <div class="navbar-links">
            <ul>
                <li><a href="https://maracufy.herokuapp.com/busca">
                    <img src="../img/search.png" alt="icon-busca" id="icon-busca">
                    Busca
                </a></li>
                <li><a href="https://maracufy.herokuapp.com/estatisticas" id="menu-atual">
                    <img src="../img/trending.png" alt="icon-estatisticas" id="icon-estatisticas">
                    Estatísticas
                </a></li>
                <li><a href="https://maracufy.herokuapp.com/perfil">
                    <img src="../img/user.png" alt="icon-perfil" id="icon-perfil">
                    Perfil
                </a></li>
                <li><a href="https://maracufy.herokuapp.com/">
                    <img src="../img/logout.png" alt="icon-sair" id="icon-sair">
                    Sair
                </a></li>
            </ul>
          </div>
    </nav>
    
    <div class="estatisticas-wrapper">
        <div class="estatisticas-data-3">
            <h2 class="titulo-pagina">Filmes em destaque</h2>
            <p class="texto-pagina">Filmes mais bem avaliados na última semana.</p>
            <div id="destaque-filmes">
                
                <div class="destaque-filme">
                    <div class="destaque-filme-numero">1</div>
                    <img class="destaque-filme-capa" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Capa do filme">
                    <div class="destaque-filme-span">
                        <p class="destaque-filme-nome"><a href="https://maracufy.herokuapp.com/musica/?id={{id_musica}}" target="_blank">{{nome}}</a></p>
                        <p class="destaque-filme-ano">{{ano}}</p>
                        <p class="destaque-filme-nota">⭐ {{nota}}/10</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="estatisticas-data-3">
            <h2 class="titulo-pagina">Séries em destaque</h2>
            <p class="texto-pagina">Séries mais bem avaliadas na última semana.</p>
            <div id="destaque-series">
                
                <div class="destaque-serie">
                    <div class="destaque-serie-numero">1</div>
                    <img class="destaque-serie-foto" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Capa do filme">
                    <div class="destaque-serie-span">
                        <p class="destaque-serie-nome">{{nome}}</p>
                        <p class="destaque-serie-ano">{{ano}}</p>
                        <p class="destaque-serie-nota">⭐ {{nota}}/10</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="estatisticas-data-3">
            <h2 class="titulo-pagina">Usuários em destaque</h2>
            <p class="texto-pagina">Usuários com mais curtidas em suas reviews realizadas na última semana.</p>
            <div id="destaque-usuarios">
                
                <div class="destaque-usuario">
                    <div class="destaque-usuario-numero">1</div>
                    <img class="destaque-usuario-foto" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Foto do usuário">
                    <div class="destaque-usuario-span">
                        <p class="destaque-usuario-nome">{{nome}}</p>
                        <p class="destaque-usuario-curtidas">👍 {{likes}}</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    <div class="estatisticas-wrapper">
        <div class="estatisticas-data">
            <h2 class="titulo-pagina">Últimas reviews realizadas</h2>
            <div id="ultimas-reviews">
                
                <div class="review-usuario">
                    <img class="review-capa-itemsistema" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Capa do item do sistema">
                    <div class="review-span">
                        <span class="review-nome-usuario">{{nome}}</span>
                        <span class="review-date">{{data}}</span>
                        <span class="review-nota">⭐	Avaliação: </span>
                        <span class="review-nota-dada">{{nota}}/10</span>
                        <span class="review-nota">👍 Curtidas:</span>
                        <span class="review-curtidas-dadas">{{relevancia}} <br/></span>
                        <span class="review-nome-itemsistema"><a href="https://maracufy.herokuapp.com/musica/?id={{id_musica}}" target="_blank">{{nome_itemsistema}}</a></span>
                        <span class="review-itemsistema-ano">{{ano}}</span>
                        <p class="review-conteudo"> {{comentario}}</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    <div class="estatisticas-wrapper">
        <div class="estatisticas-data-2">
            <h2 class="titulo-pagina">Filmes mais bem avaliados</h2>
            <p class="texto-pagina">Filmes com as maiores médias de avaliações recebidas na plataforma.</p>
            <div id="filmes-mais-bem-avaliados">
                
                <div class="filme-avaliado">
                    <div class="destaque-filme-numero">1</div>
                    <img class="destaque-filme-capa" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Capa do filme">
                    <div class="destaque-filme-span">
                        <p class="destaque-filme-nome"><a href="https://maracufy.herokuapp.com/musica/?id={{id_musica}}" target="_blank">{{nome}}</a></p>
                        <p class="destaque-filme-ano">{{ano}}</p>
                        <p class="destaque-filme-nota">⭐ {{nota}}/10</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="estatisticas-data-2">
            <h2 class="titulo-pagina">Filmes mais populares</h2>
            <p class="texto-pagina">Filmes com as maiores quantidades de avaliações realizadas na plataforma.</p>
            <div id="filmes-mais-populares">
        
                <div class="filme-avaliado">
                    <div class="destaque-filme-numero">1</div>
                    <img class="destaque-filme-capa" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Capa do filme">
                    <div class="destaque-filme-span">
                        <p class="destaque-filme-nome"><a href="https://maracufy.herokuapp.com/musica/?id={{id_musica}}" target="_blank">{{nome}}</a></p>
                        <p class="destaque-filme-ano">{{ano}}</p>
                        <p class="destaque-filme-nota">⭐ {{popularidade}} avaliações</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    <div class="estatisticas-wrapper">
        <div class="estatisticas-data">
            <h2 class="titulo-pagina">Reviews mais populares</h2>
            <p class="texto-pagina">Reviews com as maiores quantidades de curtidas deixadas na plataforma.</p>
            <div id="reviews-mais-populares">
                
                <div class="review-usuario">
                    <img class="review-capa-itemsistema" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Capa do item do sistema">
                    <div class="review-span">
                        <span class="review-nome-usuario">{{nome}}</span>
                        <span class="review-date">{{data}}</span>
                        <span class="review-nota">⭐	Avaliação: </span>
                        <span class="review-nota-dada">{{nota}}/10</span>
                        <span class="review-nota">👍 Curtidas:</span>
                        <span class="review-curtidas-dadas">{{relevancia}} <br/></span>
                        <span class="review-nome-itemsistema"><a href="https://maracufy.herokuapp.com/musica/?id={{id_musica}}" target="_blank">{{nome_itemsistema}}</a></span>
                        <span class="review-itemsistema-ano">{{ano}}</span>
                        <p class="review-conteudo"> {{comentario}}</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    <div class="estatisticas-wrapper">
        <div class="estatisticas-data-2">
            <h2 class="titulo-pagina">Séries mais bem avaliadas</h2>
            <p class="texto-pagina">Séries com as maiores médias de avaliações recebidas na plataforma.</p>
            <div id="series-mais-bem-avaliadas">
                
                <div class="serie-avaliada">
                    <div class="destaque-serie-numero">1</div>
                    <img class="destaque-serie-foto" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Capa da série">
                    <div class="destaque-serie-span">
                        <p class="destaque-serie-nome">{{nome}}</p>
                        <p class="destaque-serie-ano">{{ano}}</p>
                        <p class="destaque-serie-nota">⭐ {{nota}}/10</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="estatisticas-data-2">
            <h2 class="titulo-pagina">Séries mais populares</h2>
            <p class="texto-pagina">Séries com as maiores quantidades de avaliações realizadas na plataforma.</p>
            <div id="series-mais-populares">
                
                <div class="serie-avaliada">
                    <div class="destaque-serie-numero">1</div>
                    <img class="destaque-serie-foto" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Capa da série">
                    <div class="destaque-serie-span">
                        <p class="destaque-serie-nome">{{nome}}</p>
                        <p class="destaque-serie-ano">{{ano}}</p>
                        <p class="destaque-serie-nota">⭐ {{nreviews}} avaliações</p>
                    </div>
                </div>
                
            </div>
        </div>
        </div>

        <div class="estatisticas-wrapper">
            <div class="estatisticas-data-2">
                <h2 class="titulo-pagina">Usuários mais populares</h2>
                <p class="texto-pagina">Usuários com mais curtidas em suas reviews.</p>
                <div id="destaque-usuarios-total">
                    
                    <div class="destaque-usuario-total">
                        <div class="destaque-usuario-numero">1</div>
                        <img class="destaque-usuario-foto" src="https://image.tmdb.org/t/p/original/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg" alt="Foto do usuário">
                        <div class="destaque-usuario-span">
                            <p class="destaque-usuario-nome">{{nome}}</p>
                            <p class="destaque-usuario-curtidas">👍 {{likes}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
    
            <div class="estatisticas-data-2">
                <h2 class="titulo-pagina">Gêneros mais populares</h2>
                <p class="texto-pagina">Gêneros com as maiores quantidades de avaliações realizadas na plataforma.</p>
                <div id="generos-mais-populares">
                    
                    <div class="genero-avaliado">
                        <div class="destaque-genero-numero">1</div>
                        <div class="destaque-genero-span">
                            <p class="destaque-genero-nome">{{nome}}</p>
                            <p class="destaque-genero-nota">⭐ {{nreviews}} avaliações</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>

        
    </div>

    <footer>    
        <nav>
        
            <a href="https://github.com/luizabm/maracufy-BD1" class="githubprojeto" target="_blank">
                <h2 id="githubs">Github</h2>
                <img src="../img/github-white.png" alt="logo github" id="img-github">
            </a>
        
            <ul>
                <li> <a href="https://github.com/ahmadkamel7" target="_blank"> Ahmad Kamel Abdouni</a> </li>
                <li> <a href="https://github.com/sm-gian" target="_blank"> Gianlucca Siqueira Maiellaro</a> </li>
                <li> <a href="https://github.com/luizabm" target="_blank"> Luiza Borghi de Mello</a> </li>
                <li> <a href="https://github.com/iwamotoraphael" target="_blank"> Raphael Nobuaki Iwamoto</a> </li>
            </ul>
        </nav>
        </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/main.js"></script><!--defer-->

</body>